<%- model_class = @deliverable.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:description) %>:</strong><br>
  <%= @deliverable.description %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:start_date) %>:</strong><br>
  <%= @deliverable.start_date %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:end_date) %>:</strong><br>
  <%= @deliverable.end_date %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:project_id) %>:</strong><br>
  <%= @deliverable.project_id %>
</p>


<%=  form_for(@deliverable,:url => deliverable_addparticipant_url(@deliverable), :action => 'addparticipant', :remote => true) do |f| %>
  <%= f.submit "Add"%>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              deliverables_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_deliverable_path(@deliverable), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              deliverable_path(@deliverable),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
