<%= nested_form_for @plan_workpackage, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :wp_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :wp_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :plan_project, :class => 'control-label' %>
    <div class="controls">
    <%= collection_select 'plan_workpackage', 'plan_project_id', PlanProject.all, 'id', 'name' %>
    </div>
  </div>
  <div class="control-group">
      <%= f.label :coordinator_organization, :class => 'control-label'  %>
      <div class="controls">
      <%= collection_select 'plan_workpackage', 'plan_organization_id', PlanOrganization.all, 'id', 'short_name' %>
    </div>
  </div>

<div class="alert alert-info">
<span class="label label-success">List of Tasks</span>
<%= f.fields_for :plan_tasks do |nf| %>
<div class="control-group">
    <%= nf.label :task, :class => 'control-label' %> 
    <div class="controls">
    <%= nf.text_field :description %> 
    <%= nf.text_field :cstart_date %> 
    <%= nf.text_field :cend_date %> 
    <%= nf.link_to_remove 'Remove' %>
  </div>
</div>

<% end %>
<%= f.link_to_add 'Add new Task', :plan_tasks, :class => 'btn btn-info btn-mini' %>
</div>


<div class="alert alert-info">
<span class="label label-success">List of Deliverables</span>
<%= f.fields_for :plan_deliverables do |nf| %>
<div class="control-group">
    <%= nf.label :deliverable, :class => 'control-label'  %> 
    <div class="controls">
    <%= nf.text_field :description %> 
    <%= nf.text_field :cstart_date %> 
    <%= nf.text_field :cend_date %> 
    <%= nf.link_to_remove 'Remove' %>
  </div>
</div>

<% end %>
<%= f.link_to_add 'Add new Deliverable', :plan_deliverables, :class => 'btn btn-info btn-mini' %>
</div>





<hr />

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                plan_workpackages_path, :class => 'btn' %>
  </div>
<% end %>
