<%- model_class = @plan_workpackage.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:title) %>:</strong><br>
  <%= @plan_workpackage.title %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:wp_type) %>:</strong><br>
  <%= @plan_workpackage.wp_type %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:plan_project_id) %>:</strong><br>
  <%= @plan_workpackage.plan_project_id %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              plan_workpackages_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_plan_workpackage_path(@plan_workpackage), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              plan_workpackage_path(@plan_workpackage),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
