<!DOCTYPE html>
<html>
<head>
  <title>Opensource Project Management System</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield :header %>

<div class="container">
  <%= yield :content %>
  <hr />
  <footer  class="pull-right">
    <p><a href="http://ict4g.fbk.eu/">ICT4G</a> &copy; 2012</p>
  </footer>
</div>

</body>
</html>
