<% content_for :header do %>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">OSPM-Repository</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Projects", projects_path %></li>
            <li><%= link_to "Deliverables", deliverables_path  %></li>
          </ul>
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li><%= link_to "Logged in as #{current_user.email}. Not you? Sign Out", destroy_user_session_path, :method => :delete %></li>
            <% end %>            
          </ul>
        </div>
      </div>
    </div>
</div>
<% end %>

<% content_for :content do %>
  <%= yield %>  
<% end %>
<%= render :template => 'layouts/application' %>